/* ------------- BLOG - List */

article.blog {
    overflow: hidden;
}

article.blog header {
    margin-bottom: 20px;
}

article.blog header h3 a,
article.blog header h3 a:visited {
    font-family: 'Terminal Dosis', Tahoma, Helvetica, Arial, sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 1px #fff;
    text-decoration: none;
}

article.blog header h3 a:hover {
    text-decoration: underline;
}

article.blog section {
    position: relative;
    float: left;
    width: 420px;
    padding: 10px;
    background-color: #fff;
    line-height: 24px;
}

article.blog section img {
    float: left;
    margin: 0 10px 0 0;
}

article.blog section a.category,
article.blog section a.category:visited {
    color: #116fe3;
    text-decoration: none;
}

article.blog section a.category:hover {
    text-decoration: underline;
}

article.blog section a.read {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

article.blog section a.read,
article.blog section a.read:visited {
    padding: 2px 4px;
    color: #fff;
    background-color: #116fe3;
    text-decoration: none;
}

article.blog section a.read:hover {
    text-decoration: underline;
}

article.blog footer {
    margin-left: 460px;
}

article.blog footer time {
    display: block;
    margin-bottom: 20px;
    font-family: 'Terminal Dosis', Tahoma, Helvetica, Arial, sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 1px #fff;
    color: #aaa;
}

article.blog footer p {
    margin-bottom: 20px;
}

article.blog footer p img {
    vertical-align: middle;
}

article.blog footer ul.tags li {
    float: left;
    margin: 0 5px 5px 0;
}

article.blog footer ul.tags li a,
article.blog footer ul.tags li a:visited {
    padding: 2px 4px;
    color: #fff;
    background-color: #ccc;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
}

article.blog footer ul.tags li a:hover {
    background-color: #bbb;
}

/* ------------- TUTORIALS - List */

article.tutorial {
   width: 260px;
   height: 160px;
   margin: 20px 30px;
   float: left;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   cursor: default;
}

article.tutorial div.mask,
article.tutorial .content {
   width: 260px;
   height: 160px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

article.tutorial img {
   display: block;
   position: relative;
}

article.tutorial p {
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 0 20px;
}

article.tutorial a.info {
   display: inline-block;
   text-decoration: none;
   background: #000;
   color: #fff;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}

article.tutorial a.info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

article.tutorial img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}

article.tutorial div.mask {
   background-color: #eee;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}

article.tutorial div.mask h2 a,
article.tutorial div.mask h2 a:visited {
   font-size: 18px;
   background: transparent;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}

article.tutorial p {
   color: #333;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}

article.tutorial a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}

article.tutorial:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}

article.tutorial:hover div.mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

article.tutorial:hover h2,
article.tutorial:hover p,
article.tutorial:hover a.info {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

/* ------------- General / Article Content Show */

article .content-show a,
article .content-show a:visited {
    color: #116fe3;
}

article .content-show h3,
article .content-show p,
article .content-show ul {
    line-height: 24px;
    margin: 40px 0;
}

article .content-show h3 {
    font-family: 'Terminal Dosis', Tahoma, Helvetica, Arial, sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 1px #fff;
}

article .content-show ul {
    padding: 10px 0 10px 40px;
    margin-left: 40px;
    margin-right: 40px;
    border-left: 5px solid #116fe3;
}

article .content-show ul li {
    list-style: square;
}