div.gist {
	margin: 20px 0;
}

div.gist .gist-file {
	border: none;
}

div.gist .gist-file pre,
div.gist .gist-file pre * {
	border: none;
	font-weight: normal !important;
	font-family: Helvetica, Arial, sans-serif !important;
}

div.gist .gist-meta {
	display: none;
}

div.gist .gist-file .gist-data {
	border: none;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
	background: linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
}

.tags a,
.tags a:visited {
	display: inline-block;
	font-size: 9px;
	text-transform: uppercase;
	margin: 0 0 5px 5px;
	padding: 2px 4px;
	background-color: #fff;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: #aaa;
}

.icat {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('../images/sprite-cicons.png') top left no-repeat;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

.icat.php, .icat.php5 { background-position: 0 0; }
.icat.html, .icat.html5 { background-position: 0 -50px; }
.icat.api { background-position: 0 -100px; }
.icat.symfony-1-4 { background-position: 0 -150px; }
.icat.symfony2 { background-position: 0 -200px; }
.icat.jquery { background-position: 0 -250px; }
.icat.css { background-position: 0 -300px; }
.icat.seo { background-position: 0 -350px; }
.icat.e-communication { background-position: 0 -400px; }
.icat.tutoriels { background-position: 0 -450px; }
.icat.autres { background-position: 0 -500px; }
.icat.slynett { background-position: 0 -550px; }
.icat.actualites { background-position: 0 -600px; }
.icat.apache-nginx { background-position: 0 -650px; }

.icat.php:hover, .icat.php5:hover,
.icat.php.active, .icat.php5.active { background-position: -48px 0;  }
.icat.html:hover, .icat.html5:hover,
.icat.html.active, .icat.html5.active { background-position: -48px -50px; }
.icat.api:hover, .icat.api.active { background-position: -48px -100px; }
.icat.symfony-1-4:hover, .icat.symfony-1-4.active { background-position: -48px -150px; }
.icat.symfony2:hover, .icat.symfony2.active { background-position: -48px -200px; }
.icat.jquery:hover, .icat.jquery.active { background-position: -48px -250px; }
.icat.css:hover, .icat.css.active { background-position: -48px -300px; }
.icat.seo:hover, .icat.seo.active { background-position: -48px -350px; }
.icat.e-communication:hover, .icat.e-communication.active { background-position: -48px -400px; }
.icat.tutoriels:hover, .icat.tutoriels.active { background-position: -48px -450px; }
.icat.autres:hover, .icat.autres.active { background-position: -48px -500px; }
.icat.slynett:hover, .icat.slynett.active { background-position: -48px -550px; }
.icat.actualites:hover, .icat.actualites.active { background-position: -48px -600px; }
.icat.apache-nginx:hover, .icat.apache-nginx.active { background-position: -48px -650px; }

section.list {
	overflow: hidden;
}

article.tpl1 {
	overflow: hidden;
	margin-bottom: 40px;
	padding: 20px 0;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
	background: linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
}

article.tpl1 h4 a {
    font-size: 16px;
    font-weight: bold;
    color: #bf3604;
    text-transform: uppercase;
}

article.tpl1 .left {
	text-align: right;
}

article.tpl1 .left .content {
    padding: 0 0 0 20px;
}

article.tpl1 .left h4 {
 margin: 0 0 10px 0;
}

article.tpl1 .left img {
	margin-bottom: 10px;
 width: 200px;
 height: auto;
}

article.tpl1 .left .tags a,
article.tpl1 .left .tags a:visited {
	margin: 0 0 5px 5px;
}

article.tpl1 .right .content {
    padding: 0 20px 0 0;
}

article.tpl1 .right ul.categories {
    margin: 0;
}

article.tpl1 .right ul.categories li {
    display: inline-block;
}

article.tpl1 .right .informations {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

article.tpl1 .right .description {
	color: #aaa;
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

article.tpl1 .right p.read {
	text-align: right;
	font-size: 12px;
}

article.tpl1 .right p.read a.comments,
article.tpl1 .right p.read a.comments:visited {
	margin-right: 20px;
	color: #333;
}

article.tpl1 .right p.read a.read,
article.tpl1 .right p.read a.read:visited {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	background-color: #bf3604;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

article.tpl1 .right p.read a.read:hover {
    padding: 10px 40px;
	background-color: #324452;
}

article.tpl2 {
	overflow: hidden;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

article.tpl2 h4 {
	margin-top: 0;
}

article.tpl2 img {
    float: left;
    margin-right: 10px;
    width: 60px;
    height: auto;
}

article.tpl2 .details,
article.tpl2 h4 {
    margin-left: 70px;
}

article.tpl2 .details {
	font-size: 11px;
	line-height: 15px;
}

article.tpl2 .details,
article.tpl2 .details a,
article.tpl2 .details a:visited {
    color: #aaa;
}

article.tpl2 .details a,
article.tpl2 .details a:visited {
    text-decoration: underline;
    color: #333;
}

article.tpl2 .details a:hover {
    text-decoration: none;
}

article.tpl2 h4 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

article.tpl3 h2 {
	margin: 20px 0;
}

article.tpl3 p,
article.tpl3 pre {
	margin-bottom: 20px;
}

article.tpl3 .tags a,
article.tpl3 .tags a:visited {
	margin: 0 5px 5px 0;
	background-color: #f5f5f5;
	border-color: #eee;
}

article.tpl3 .categories.colored a {
    font-size: 12px;
    padding: 5px 10px;
    margin: 0 5px 0 0;
}

article.tpl3 .header img {
	float: right;
	margin: 0 0 20px 20px;
	/* margin: 40px 0 20px 20px;
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg); */
	padding: 5px;
	background-color: #fff;
	border: 1px solid #eee;
}

article.tpl3 .header {
	margin-bottom: 20px;
}

article.tpl3 .item_content {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}

article.tpl3 .iframe {
    text-align: center;
}

article.tpl3 .iframe iframe {
    padding: 10px;
    -moz-box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    box-shadow: 0 0 10px #aaa;
    margin-bottom: 20px;
}

figure.tpl4 {
    position: relative;
    display: inline-block;
    width: 268px;
    margin: 20px;
    border: 1px solid #eee;
    vertical-align: top;
}

figure.tpl4:hover {
    -moz-box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    box-shadow: 0 0 10px #aaa;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

figure.tpl4 img.tutorial {
    padding: 10px;
    width: 250px;
    height: auto;
}

figure.tpl4 h3 {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

figure.tpl4 p {
    padding: 0 10px 10px 10px;
    color: #aaa;
    font-size: 11px;
    line-height: 13px;
}

figure.tpl4 h3 {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    line-height: 18px;
    border: none;
}

figure.tpl4 ul.categories {
	position :absolute;
	margin: 0;
	padding: 0;
	top: 20px;
	right: 20px;
	text-align: right;
}

figure.tpl4 ul.categories li {
	list-style: none;
	margin: 0;
	padding: 0;
}

aside.tpl2 {
    margin-bottom: 5px;
}

aside.tpl2 abbr,
aside.tpl2 a.category {
    font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid #ddd;
    color: #333;
}

ul.sharebuttons.default {
	margin: 0 0 20px 0;
	padding: 0;
}

ul.sharebuttons.default li {
	list-style: none;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

ul.sharebuttons.default li.last {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}

section.sidebar ul.items {
	margin: 0 0 20px 0;
}

section.sidebar ul.items li {
	overflow: hidden;
	list-style: none;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

section.sidebar ul.items.picture li img {
	float: left;
	width: 40px;
	height: 40px;
}

section.sidebar ul.items.picture li span {
	display: block;
	margin-left: 50px;
}

.disqus_comments {
	clear: both;
}

.disqus_comments h3 {
	margin-bottom: 20px;
}

#content_categories {
    width: 300px;
    height: 200px;
}