.tpl3 {
    
}

.tpl3 article {
    overflow:hidden;
    margin-bottom:60px;
}

.tpl3 article h3 {
    margin-bottom:20px;
}

.tpl3 article .article {
    float:left;
    width:220px;
}

.tpl3 article .article .description {
    font-family:Georgia, "Times New Roman", serif;
    text-shadow:1px 1px 1px #fff;
    font-size:14px;
    line-height:22px;
}

.tpl3 article .article .description,
.tpl3 article .article .description a,
.tpl3 article .article .description a:visited {
    text-decoration:none;
    color:#a9a9a9;
}

.tpl3 article .article .tags {
    margin-top:20px;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
    opacity:0;
    -moz-opacity:0;
    -ms-filter:'alpha(opacity=0)';
    filter:'alpha(opacity=0)';
}

.tpl3 article:hover .article .tags {
    opacity:1;
    -moz-opacity:1;
    -ms-filter:'alpha(opacity=100)';
    filter:'alpha(opacity=100)';
}

.tpl3 article .thumbnail {
    width:110px;
    float:left;
    padding:10px 10px 20px 10px;
    margin-left:40px;
    margin-bottom:20px;
    background:url('../images/picture-bg3.png') no-repeat;
}

.tpl3 article .thumbnail img {
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.tpl3 article .right {
    float:left;
    margin-left:40px;
    padding-left:40px;
    width:160px;
    background:url('../../slycore/images/vsep-1.png') 0 0 no-repeat;
}

.tpl3 article .right p,
.tpl3 article .right ul {
    
}

.tpl3 article .right ul li {
    list-style:none;
}

.tpl3 article .right p.author {
    
}

.tpl3 article .right p.author img {
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.tpl3 article .right p.date abbr {
    text-transform:uppercase;
    font-size:22px;
}

.tpl3 article .right p.author a,
.tpl3 article .right p.author a:visited,
.tpl3 article .right p.categories a,
.tpl3 article .right p.categories a:visited {
    color:#dc3e00;
}

.tpl3 article .right ul.category {
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
    opacity:0.3;
    -moz-opacity:0.3;
    -ms-filter:'alpha(opacity=30)';
    filter:'alpha(opacity=30)';
}

.tpl3 article:hover .right ul.category {
    opacity:1;
    -moz-opacity:1;
    -ms-filter:'alpha(opacity=100)';
    filter:'alpha(opacity=100)';
}

.tpl3 article .right ul.category li {
    display:inline-block;
    margin-right:5px;
}