ul.tags {
    padding:0;
    margin:0;
    display:inline-block;
    width:auto;
}

ul.tags li {
    padding:0;
    margin:0;
    list-style:none;
    display:inline-block;
    margin-right:5px;
    margin-bottom:5px;
}

ul.tags li a, ul.tags li a:visited {
    display:block;
    padding:1px 4px;
    font-size:10px;
    color:#dc3e00;
    text-transform:uppercase;
    background-color:#fff;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

ul.tags:hover li a, ul.tags li a:visited {
    opacity:0.3;
    -moz-opacity:0.3;
    -ms-filter:'alpha(opacity=30)';
    filter:'alpha(opacity=30)';
}

ul.tags li a:hover {
    color:#dc3e00;
    text-decoration:none;
    opacity:1;
    -moz-opacity:1;
    -ms-filter:'alpha(opacity=100)';
    filter:'alpha(opacity=100)';
}

ul.category {
    margin:0;
    padding:0;
}

ul.category li {
    margin:0 0 5px 0;
    padding:0;
    list-style:none;
}

.caticon {
    display:inline-block;
    background:url('../images/categories.png');
}

.caticon.small {
    width:40px;
    height:40px;
}

.caticon.medium {
    width:60px;
    height:60px;
}

.caticon.small.symfony-1-4 { background-position:0 0; }
.caticon.medium.symfony-1-4 { background-position:60px 0; }
.caticon.small.symfony2 { background-position:0 -60px; }
.caticon.medium.symfony2 { background-position:60px -60px; }
.caticon.small.php5 { background-position:0 -120px; }
.caticon.medium.php5 { background-position:60px -120px; }
.caticon.small.jquery { background-position:0 -180px; }
.caticon.medium.jquery { background-position:60px -180px; }
.caticon.small.api { background-position:0 -240px; }
.caticon.medium.api { background-position:60px -240px; }
.caticon.small.e-communication { background-position:0 -300px; }
.caticon.medium.e-communication { background-position:60px -300px; }

ul.infos {
    margin:0 0 20px 0;
    text-align:center;
}

ul.infos li {
    list-style:none;
    display:inline-block;
    margin:0 5px;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
}

ul.infos li a {
    display:block;
    height:48px;
    line-height:48px;
    padding-left:58px;
    background:url('../images/infos.png') no-repeat;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    opacity:0.3;
    -moz-opacity:0.3;
    -ms-filter:'alpha(opacity=30)';
    filter:'alpha(opacity=30)';
}

ul.infos li.published_at a { background-position:0 -96px; }
ul.infos li.share a { background-position:0 -48px; }
ul.infos li.comments a { background-position:0 0; }

ul.infos li a:hover {
    opacity:1;
    -moz-opacity:1;
    -ms-filter:'alpha(opacity=100)';
    filter:'alpha(opacity=100)';
}

.item_content  {
    margin:60px 0;
}

.item_content h3 {
    margin:40px 0 40px 40px;
    font-family:Georgia, "Times New Roman", serif;
    color:#a9a9a9;
    text-shadow:1px 1px 1px #fff;
    font-size:18px;
    line-height:24px;
    font-weight:normal;
}

.item_content p,
.item_content ul,
.item_content pre,
.item_content blockquote {
    margin:20px 0;
}

.item_content ul {
    margin:20px;
}

.item_content a,
.item_content a:visited {
    color:#dc3e00;
}

h3.title {
    font-size:34px;
    line-height:42px;
}

h3 a, h3 a:visited {
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
}

h3 a:hover {
    color:#dc3e00;
}