.tpl4 {
    
}

.tpl4 h3 {
    clear:both;
    float:left;
    width:auto;
    margin:0;
    padding:5px 10px;
    color:#dc3e00;
    background-color:rgba(255,255,255,.3);
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.tpl4 ul {
    margin-left:160px;
}

.tpl4 ul li {
    list-style:none;
    position:relative;
}

.tpl4 ul li a,
.tpl4 ul li a:visited {
    color:#a9a9a9;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
}

.tpl4 ul li:hover a,
.tpl4 ul li:hover a:visited {
    color:#333;
}

.tpl4 ul li ul.category {
    position:absolute;
    top:-10px;
    left:-50px;
    margin-left:0;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    opacity:0;
    -moz-opacity:0;
    -ms-filter:'alpha(opacity=0)';
    filter:'alpha(opacity=0)';
}

.tpl4 ul li ul.tags {
    margin:0 0 0 10px;
    transition:0.4s;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    opacity:0;
    -moz-opacity:0;
    -ms-filter:'alpha(opacity=0)';
    filter:'alpha(opacity=0)';
}

.tpl4 ul li:hover ul.category,
.tpl4 ul li:hover ul.tags {
    opacity:1;
    -moz-opacity:1;
    -ms-filter:'alpha(opacity=100)';
    filter:'alpha(opacity=100)';
}