#disqus_thread {
    
}

#disqus_thread h3 {
    margin-bottom: 40px;
    font-family: 'Terminal Dosis', Tahoma, Helvetica, Arial, sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 1px #fff;
    text-decoration: none;
}