/**
 * Tutorial.
 */

div.tutorial_list {
    overflow: hidden;
    clear: both;
}

div.tutorial_list div.item {
    position: relative;
    float: left;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 10px;
}

div.tutorial_list div.item h3 {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 14px;
    font-size: 14px;
}

div.tutorial_list div.item img {
    width: 100%;
    height: auto;
}
