<section>
    <h3>{{ 'sidebar.networks.title' | trans({}, 'watch') }}</h3>

    <div class="content">
        <p>{{ 'sidebar.networks.message' | trans({'%name%': project.name}, 'watch') }}</p>
        
        {% include 'SlyCoreBundle:Block:socialNetworks.html.twig' %}
    </div>
</section>

<section>
    <h3>{{ 'sidebar.categories.title' | trans }}</h3>
    
    <div class="content">
        <nav>
            {% if category is defined %}
                {% render 'SlyContentBundle:Component:categories' with {'type': 'watch', 'activeCategories': item.categories} %}
            {% else %}
                {% render 'SlyContentBundle:Component:categories' with {'type': 'watch'} %}
            {% endif %}
        </nav>
    </div>
</section>