; These parameters can be imported into other config files
; by enclosing the key with % (like %database_user%)
; Comments start with ';', as in php.ini
[parameters]
    database_driver   = pdo_mysql
    database_host     = localhost
    database_port     =
    database_name     = symfony
    database_user     = root
    database_password =

    mailer_transport  = smtp
    mailer_host       = localhost
    mailer_user       =
    mailer_password   =

    locale            = en

    secret            = ThisTokenIsNotSoSecretChangeIt
    
    project_name                = Slynett Labs
    project_url                 = http://www.slynett.com
    project_simpleurl           = www.slynett.com
    project_email               = hello@slynett.com
    project_github_sources      = http://github.com/Ph3nol/Slynett
    
    networks_rss                = http://feeds.feedburner.com/slynett
    networks_twitter_url        = http://twitter.com/Ph3nol
    networks_twitter_username   = Ph3nol
    networks_facebook_url       = http://facebook.com/slynett
    networks_facebook_username  = slynett
    networks_linkedin           = http://fr.linkedin.com/in/cedricdugat
    networks_googleplus         = http://goog.la/ph3
    networks_flickr             = http://www.flickr.com/people/slyph3
    networks_foursquare         = http://fs.sly.mx

    bitly_username          = XXXXXXXXXXXXXXXXXXXXXXX
    bitly_apikey            = XXXXXXXXXXXXXXXXXXXXXXX

    disqus_username         = XXXXXXXXXXXXXXXXXXXXXXX
    
    twitter_watch_username  = XXXXXXXXXXX
