{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ 'search.seo.title' | trans }}{% endblock title %}
{% block description %}{{ 'search.seo.description' | trans({'%siteName%': project.name}) }}{% endblock description %}

{% block content %}
    <h2 role="contentinfo">{{ 'search.title' | trans({'%siteName%': project.name}) }}</h2>
    
    <nav>
        <ul class="categories">
            <li id="search" role="search" class="search">
                {% include 'SlyCoreBundle:Block:searchForm.html.twig' with {'locked': true} %}
            </li>
        </ul>
    </nav>
    
    {% include 'SlyCoreBundle:Block/Com/Content:728x90.html.twig' %}
{% endblock content %}