{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ 'search.seo.title' | trans({'%query%': searchQuery}) }}{% endblock title %}
{% block description %}{{ 'search.seo.description' | trans({'%query%': searchQuery}) }}{% endblock description %}

{% block content %}
    <h2 role="contentinfo">{{ 'search.title_count' | trans({'%count%': items | length, '%query%': searchQuery}) }}</h2>
    
    {% include 'SlyCoreBundle:Block/Com/Content:728x90.html.twig' %}

    {% for item in items %}
        {% include 'SlyContentBundle:Default:searchItem.html.twig' %}
    {% endfor %}
{% endblock content %}