{% spaceless %}
    <ul class="categories">
        <li class="active">
            <a href="#author-main" class="sgoto">
                {{ 'menu.presentation' | trans({}, 'author') }}
            </a>
        </li>
        <li>
            <a href="#author-skills" class="sgoto">
                {{ 'menu.skills' | trans({}, 'author') }}
            </a>
        </li>
        <li>
            <a href="#author-portfolio" class="sgoto">
                {{ 'menu.portfolio' | trans({}, 'author') }}
            </a>
        </li>
    </ul>
{% endspaceless %}