<h4>Catégories</h4>
    
{% render 'SlyContentBundle:Component:categories' with {'type': 'tutorial'} %}

<h4>Lorem Ipsum</h4>

<p>---</p>

<h4>Lorem Ipsum</h4>

<p>---</p>

<h4>Lorem Ipsum</h4>

<p>---</p>