{% from "SlyContentBundle::macro.socialShare.html.twig" import shareButtons, shareBigButtons %}

<h3 class="title">{{ 'categories.title' | trans }}</h3>

<nav>
    {% if category is defined %}
        {% render 'SlyContentBundle:Component:categories' with {'type': 'tutorial', 'activeCategories': item.categories} %}
    {% else %}
        {% render 'SlyContentBundle:Component:categories' with {'type': 'tutorial'} %}
    {% endif %}
</nav>

<div class="hsep_1"></div>

<h3 class="title" id="sidebar-sharebuttons">{{ 'share.title' | trans }}</h3>

{{ shareBigButtons(url('tutorial_show', {'slug': item.slug}), item) }}

<div class="hsep_1"></div>

{% include 'SlyCoreBundle:Block:Com/Sidebar/250x250.html.twig' %}

<div class="hsep_1"></div>

<h3 class="title">{{ 'items.others.title' | trans }}</h3>

{% render 'SlyContentBundle:Component:lastItems' with {
    'type': 'tutorial',
    'categories': item.categories,
    'withoutItem': item,
    'withPicture': true,
    'template': 'tpl1'
} %}

<div class="hsep_1"></div>

{% include 'SlyCoreBundle:Block:sidebarGitHub.html.twig' %}