<section>
    <h3>{{ 'sidebar.categories.title' | trans }}</h3>
    
    <div class="content">
        <nav>
            {% if category is defined %}
                {% render 'SlyContentBundle:Component:categories' with {'type': 'snippet', 'activeCategories': item.categories} %}
            {% else %}
                {% render 'SlyContentBundle:Component:categories' with {'type': 'snippet'} %}
            {% endif %}
        </nav>
    </div>
</section>

{% include 'SlyContentBundle:Block:tabSkel3.html.twig' with {'type': 'snippet'} %}