{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ 'seo.title' | trans({}, 'resource') }}{% endblock title %}
{% block description %}{{ 'seo.description' | trans({}, 'resource') }}{% endblock description %}

{% block content %}
    <h2 role="contentinfo">{{ 'title' | trans({}, 'resource') }}</h2>

    <p class="empty">{{ 'core.soon' | trans }}</p>
{% endblock content %}