{% extends "SlyCoreBundle:Layout:base.html.twig" %}

{% block body %}
    <div id="wrap">
        {% include 'SlyCoreBundle:Layout:header.html.twig' %}
        
        <div class="container" id="main">
            {% block content %}{% endblock content %}
        </div>
        
        {% include 'SlyCoreBundle:Layout:footer.html.twig' %}
    </div>
{% endblock %}