<footer id="footer">
    <section class="wrap">
        <aside class="left">
            {% include 'SlyCoreBundle:Block:mainMenuSimple.html.twig' %}
            {% include 'SlyCoreBundle:Block:secMenu.html.twig' with {'noHome': true} %}
        </aside>
        
        <aside class="right">
            &copy; 2011
            <a href="{{ path('homepage') }}">{{ project.name }}</a>
            - {{ 'footer.rights' | trans }}
            {% if app.request.attributes.get('_route') != 'author' %}
                - <img src="http://sly.mx/ukwc0s" alt="" />
                <br />
                {{ 'footer.enjoy' | trans }}
            {% endif %}
        </aside>
    </section>
</footer>