{% extends "SlyCoreBundle:Layout:base.html.twig" %}

{% block body %}
    {% include 'SlyCoreBundle:Layout:header.html.twig' %}
    
    <section class="container_16 main">
        {% if topMain is defined %}
            <div class="top">
                <div class="grid_4">
                    <h2>{% block topMainTitle %}{% endblock topMainTitle %}</h2>
                    
                    &nbsp;
                </div>
                
                <div class="grid_12">
                    <nav class="secondary">
                        {% block topMainMenu %}{% endblock topMainMenu %}
                    </nav>
                </div>
            </div>
        {% endif %}
        
        <div class="grid_12">
            <section class="content">
                {% block content %}{% endblock content %}
            </section>
        </div>
        <div class="grid_4">
            <section class="sidebar right">
                {% block rightSidebar %}{% endblock rightSidebar %}
            </section>
        </div>
    </section>
                
    {% include 'SlyCoreBundle:Layout:footer.html.twig' %}
{% endblock %}