{% extends "SlyCoreBundle:Layout:base.html.twig" %}

{% block body %}
    {% include 'SlyCoreBundle:Layout:header.html.twig' %}
    
    <div class="container" id="main">
        <div class="row">
            <div class="content span11">
                {% block content %}{% endblock content %}
            </div>
            
            <div class="rsidebar span5">
                {% block rsidebar %}{% endblock rsidebar %}
            </div>
        </div>
    </div>
    
    {% include 'SlyCoreBundle:Layout:footer.html.twig' %}
{% endblock %}