{% extends "SlyCoreBundle:Layout:base.html.twig" %}

{% block body %}
    <div id="wrap">
        {% include 'SlyCoreBundle:Layout:header.html.twig' %}
        
        <div class="container" id="main">
            <div class="row">
                <div class="lsidebar span5">
                    {% block lsidebar %}{% endblock lsidebar %}
                </div>        
            
                <div class="content span11">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
        
        {% include 'SlyCoreBundle:Layout:footer.html.twig' %}
    </div>
{% endblock %}