{% extends "SlyCoreBundle:Layout:base.html.twig" %}

{% block body %}
    {% include 'SlyCoreBundle:Layout:header.html.twig' %}
    
    <div id="main" class="wrap right-sidebar">
        <div class="main-content">
            <section role="main">
                {% block content %}{% endblock content %}
            </section>
        </div>

        <aside class="sidebar" id="right-sidebar">
            {% block rightSidebar %}{% endblock rightSidebar %}
            
            {% include 'SlyCoreBundle:Block/Com/Sidebar:250x250.html.twig' %}
            {% include 'SlyCoreBundle:Block:sidebarGitHub.html.twig' %}
        </aside>
    </div>  
                
    {% include 'SlyCoreBundle:Layout:footer.html.twig' %}
{% endblock %}