{% extends "SlyCoreBundle:Layout:base.html.twig" %}

{% block body %}
    {% include 'SlyCoreBundle:Layout:header.html.twig' %}
    
    <section class="wrap main">
        <section class="content">
            {% block content %}{% endblock content %}
        </section>
    </section>
                
    {% include 'SlyCoreBundle:Layout:footer.html.twig' %}
{% endblock %}