ul.sharebox {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.sharebox li {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

ul.sharebox li.facebooklike {
    border: none;
    overflow: hidden;
    width: 59px;
    height: 65px;
}

ul.sharebox li.facebook {
	width: 74px;
	height: 61px;
	background: url('../../bundles/slycontent/images/facebook-share.jpg') no-repeat;
}

ul.sharebox li.twitter {
    
}

ul.sharebox li.googleplus {
    
}

ul.sharebox li.linkedin {
    
}