<section>
    <div class="tabs">
        <ul>
            <li>
                <a href="#tabs-items" class="sws listicons">
                    <span></span>
                    <span class="text">Autres</span>
                </a>
            </li>
            <li>
                <a href="#tabs-rss" class="sws rss">
                    <span></span>
                    <span class="text">Flux</span>
                </a>
            </li>
        </ul>
        
        <div id="tabs-items" class="tabs-items">
            {% render 'SlyContentBundle:Component:lastItems' with {
                'type': 'blog',
                'categories': item.categories,
                'withoutItem': item,
                'withPicture': true
            } %}
        </div>
        <div id="tabs-rss">
            <ul>
                <li>
                    <a href="{{ networks.rss }}" onclick="var w=window.open(this.href); w.focus(); return false;">
                        {{ 'sidebar.feeds.general' | trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>