body {
    font-family:'Droid Sans', Helvetica, sans-serif;
    font-size:13px;
    line-height:21px;
    background:url('../images/background.jpg');
    color:#333;
}

a,
a:visited {
    color:#333;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

a.container {
    display:inline-block;
    padding:2px 12px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

h2 {
    font-family:Georgia, 'Times New Roman', serif;
    font-size:20px;
    font-style:italic;
    line-height:28px;
    font-weight:normal;
    color:#a9a9a9;
    text-shadow:1px 1px 1px #fff;
}

h3 {
    font-family:'Ubuntu Condensed', Helvetica, Arial, sans-serif;
    font-size:18px;
    line-height:26px;
    font-weight:normal;
}

h3,
h3 a, h3 a:visited {
    color:#333;
    text-decoration:none;
    text-shadow:1px 1px 1px #fff;
}

h3 a:hover {
    text-decoration:none;
}

.description,
.information {
    font-family:Georgia, "Times New Roman", serif;
    color:#a9a9a9;
    text-shadow:1px 1px 1px #fff;
    font-size:13px;
    line-height:18px;
}

.empty {
    color:#a9a9a9;
}

.clear {
    clear:both;
}

.hsep_1 {
    display:block;
    height:2px;
    margin:60px 0;
    background:url('../images/hsep-1.png');
}

.hsep_1.t1 {
    margin-left:200px;
    margin-right:200px;
}

.hsep_1.t2 {
    margin-top:0;
    margin-left:200px;
    margin-right:200px;
}

.hsep_1.t3 {
    margin:20px 200px;
}

.hsep_1.t4 {
    margin:10px 0;
}

section.main {
    margin-top:300px;
    margin-bottom:300px;
}

.wrap {
    width:960px;
    margin:0 auto;
}

section.main {
    overflow:hidden;
}

section.content {
    
}

section[role=contentinfo] {
    margin:0 0 80px 0;
    padding:40px;
    background-color:rgba(255,255,255,.3);
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

section.rightSidebarContent {
    float:left;
    width:630px;
}

section.rightSidebar {
    margin-left:690px;
}

span.icon {
    display:block;
    width:64px;
    height:64px;
    background:url('../images/icons.png');
}

span.icon.github { background-position:0 0; }

.amc {
    text-align:center;
}

.amc img {
    margin:10px;
}