body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;
}

a, a:visited {
	color: #bf3604;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}