#main {
    overflow: hidden;
    margin-top: 60px;
}

#main h2 {
    margin-bottom: 40px;
    font-family: 'Terminal Dosis', Tahoma, Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: normal;
}

#main h2,
#main h2 a,
#main h2 a:visited,
#main h2 a:hover {
    color: #aaa;
    text-shadow: 1px 1px 1px #fff;
}

#main h2 a,
#main h2 a:visited {
    text-decoration: none;
}

#main h2 a:hover {
    text-decoration: underline;
}

#main section[role=main] nav ul.categories {
    overflow: hidden;
    margin-bottom: 40px;
}

#main section[role=main] nav ul.categories li form {
    margin: 0;
}

#main section[role=main] nav ul.categories li {
    float: left;
    margin-right: 10px;
}

#main section[role=main] nav ul.categories li a,
#main section[role=main] nav ul.categories li a:visited {
    display: block;
    padding: 10px;
    background-color: #fff;
    text-decoration: none;
    color: #aaa;
}

#main section[role=main] nav ul.categories li a:hover {
    color: #333;
}

#main section[role=main] nav ul.categories li.active a,
#main section[role=main] nav ul.categories li.active a:visited {
    color: #fff;
    background-color: #2ea2c8;
}

#main.right-sidebar {

}

#main.right-sidebar div.main-content {
    float: left;
    width: 660px;
}

#main.right-sidebar #right-sidebar {
    position: relative;
    margin-left: 720px;
}