
.sws span { margin-right: 5px; font-family: 'WebSymbolsRegular', cursive, Tahoma, Helvetica, Arial, sans-serif; font-size: 1.2em; }
.sws.after span { margin-left: 0; margin-right: 5px; }

.sws.image span:before { content: 'I'; }
.sws.settings span:before { content: 'S'; }
.sws.cloud span:before { content: 'C'; }
.sws.folder span:before { content: 'F'; }
.sws.archive span:before { content: 'Z'; }
.sws.movie span:before { content: 'M'; }
.sws.html span:before { content: 'H'; }
.sws.text span:before { content: 'T'; }
.sws.terminal span:before { content: '_'; }
.sws.attachment span:before { content: 'A'; }
.sws.logout span:before { content: 'X'; }
.sws.ident span:before { content: 'n'; }
.sws.outdent span:before { content: 'o'; }
.sws.list span:before { content: '²'; }
.sws.numberlist span:before { content: 'q'; }
.sws.move span:before { content: '~'; }
.sws.user span:before { content: 'U'; }
.sws.openedlock span:before { content: 'w'; }
.sws.closedlock span:before { content: 'x'; }
.sws.protrait span:before { content: 'a'; }
.sws.album span:before { content: 'b'; }
.sws.center span:before { content: '`'; }
.sws.zoomin span:before { content: '+'; }
.sws.zoomout span:before { content: '-'; }
.sws.up span:before { content: ':'; }
.sws.down span:before { content: ';'; }
.sws.close span:before { content: '\''; }
.sws.scale span:before { content: '&'; }
.sws.back span:before { content: '<'; }
.sws.forward span:before { content: 'j'; }
.sws.rotate span:before { content: '*'; }
.sws.twitter span:before { content: 't'; }
.sws.facebook span:before { content: 'f'; }
.sws.vkontakte span:before { content: 'v'; }
.sws.linkedin span:before { content: 'l'; }
.sws.googleplus span:before { content: 'g'; }
.sws.skype span:before { content: 's'; }
.sws.rss span:before { content: 'B'; }
.sws.vimeo span:before { content: 'm'; }
.sws.youtube span:before { content: 'y'; }
.sws.tumblr span:before { content: 'k'; }
.sws.lettery span:before { content: 'z'; }
.sws.odnoklassniki span:before { content: 'Q'; }
.sws.favorite span:before { content: 'R'; }
.sws.tag span:before { content: ','; }
.sws.comment span:before { content: 'c'; }
.sws.chat span:before { content: 'd'; }
.sws.openedchat span:before { content: 'e'; }
.sws.rating span:before { content: 'u'; }
.sws.mappin span:before { content: '?'; }
.sws.like span:before { content: 'N'; }
.sws.unlike span:before { content: 'O'; }
.sws.search span:before { content: 'L'; }
.sws.reblog span:before { content: 'J'; }
.sws.newwindow span:before { content: 'D'; }
.sws.clock span:before { content: 'P'; }
.sws.link span:before { content: 'K'; }
.sws.mail span:before { content: '@'; }
.sws.sortdown span:before { content: '{'; }
.sws.sortup span:before { content: '}'; }
.sws.unfold span:before { content: '['; }
.sws.fold span:before { content: ']'; }
.sws.icon span:before { content: '¹'; }
.sws.listicons span:before { content: '³'; }
.sws.reply span:before { content: 'h'; }
.sws.replyall span:before { content: 'i'; }
.sws.fullsceen span:before { content: '%'; }
.sws.done span:before { content: '.'; }
.sws.approved span:before { content: '/'; }