.sws span { display: inline-block; margin-right: 5px; font-family: 'WebSymbolsRegular', cursive; font-size: 1.2em; vertical-align: middle; }
.sws.after span { margin-left: 0; margin-right: 5px; }

.sws.image span:first-child:before { content: 'I'; }
.sws.settings span:first-child:before { content: 'S'; }
.sws.cloud span:first-child:before { content: 'C'; }
.sws.folder span:first-child:before { content: 'F'; }
.sws.archive span:first-child:before { content: 'Z'; }
.sws.movie span:first-child:before { content: 'M'; }
.sws.html span:first-child:before { content: 'H'; }
.sws.text span:first-child:before { content: 'T'; }
.sws.terminal span:first-child:before { content: '_'; }
.sws.attachment span:first-child:before { content: 'A'; }
.sws.logout span:first-child:before { content: 'X'; }
.sws.ident span:first-child:before { content: 'n'; }
.sws.outdent span:first-child:before { content: 'o'; }
.sws.list span:first-child:before { content: '²'; }
.sws.numberlist span:first-child:before { content: 'q'; }
.sws.move span:first-child:before { content: '~'; }
.sws.user span:first-child:before { content: 'U'; }
.sws.openedlock span:first-child:before { content: 'w'; }
.sws.closedlock span:first-child:before { content: 'x'; }
.sws.protrait span:first-child:before { content: 'a'; }
.sws.album span:first-child:before { content: 'b'; }
.sws.center span:first-child:before { content: '`'; }
.sws.zoomin span:first-child:before { content: '+'; }
.sws.zoomout span:first-child:before { content: '-'; }
.sws.up span:first-child:before { content: ':'; }
.sws.down span:first-child:before { content: ';'; }
.sws.close span:first-child:before { content: '\''; }
.sws.scale span:first-child:before { content: '&'; }
.sws.back span:first-child:before { content: '<'; }
.sws.forward span:first-child:before { content: 'j'; }
.sws.rotate span:first-child:before { content: '*'; }
.sws.twitter span:first-child:before { content: 't'; }
.sws.facebook span:first-child:before { content: 'f'; }
.sws.vkontakte span:first-child:before { content: 'v'; }
.sws.linkedin span:first-child:before { content: 'l'; }
.sws.googleplus span:first-child:before { content: 'g'; }
.sws.skype span:first-child:before { content: 's'; }
.sws.rss span:first-child:before { content: 'B'; }
.sws.vimeo span:first-child:before { content: 'm'; }
.sws.youtube span:first-child:before { content: 'y'; }
.sws.tumblr span:first-child:before { content: 'k'; }
.sws.lettery span:first-child:before { content: 'z'; }
.sws.odnoklassniki span:first-child:before { content: 'Q'; }
.sws.favorite span:first-child:before { content: 'R'; }
.sws.tag span:first-child:before { content: ','; }
.sws.comment span:first-child:before { content: 'c'; }
.sws.chat span:first-child:before { content: 'd'; }
.sws.openedchat span:first-child:before { content: 'e'; }
.sws.rating span:first-child:before { content: 'u'; }
.sws.mappin span:first-child:before { content: '?'; }
.sws.like span:first-child:before { content: 'N'; }
.sws.unlike span:first-child:before { content: 'O'; }
.sws.search span:first-child:before { content: 'L'; }
.sws.reblog span:first-child:before { content: 'J'; }
.sws.newwindow span:first-child:before { content: 'D'; }
.sws.clock span:first-child:before { content: 'P'; }
.sws.link span:first-child:before { content: 'K'; }
.sws.mail span:first-child:before { content: '@'; }
.sws.sortdown span:first-child:before { content: '{'; }
.sws.sortup span:first-child:before { content: '}'; }
.sws.unfold span:first-child:before { content: '['; }
.sws.fold span:first-child:before { content: ']'; }
.sws.icon span:first-child:before { content: '¹'; }
.sws.listicons span:first-child:before { content: '³'; }
.sws.reply span:first-child:before { content: 'h'; }
.sws.replyall span:first-child:before { content: 'i'; }
.sws.fullsceen span:first-child:before { content: '%'; }
.sws.done span:first-child:before { content: '.'; }
.sws.approved span:first-child:before { content: '/'; }

/* ----- */

.sws.after.image span:last-child:before { content: 'I'; }
.sws.after.settings span:last-child:before { content: 'S'; }
.sws.after.cloud span:last-child:before { content: 'C'; }
.sws.after.folder span:last-child:before { content: 'F'; }
.sws.after.archive span:last-child:before { content: 'Z'; }
.sws.after.movie span:last-child:before { content: 'M'; }
.sws.after.html span:last-child:before { content: 'H'; }
.sws.after.text span:last-child:before { content: 'T'; }
.sws.after.terminal span:last-child:before { content: '_'; }
.sws.after.attachment span:last-child:before { content: 'A'; }
.sws.after.logout span:last-child:before { content: 'X'; }
.sws.after.ident span:last-child:before { content: 'n'; }
.sws.after.outdent span:last-child:before { content: 'o'; }
.sws.after.list span:last-child:before { content: '²'; }
.sws.after.numberlist span:last-child:before { content: 'q'; }
.sws.after.move span:last-child:before { content: '~'; }
.sws.after.user span:last-child:before { content: 'U'; }
.sws.after.openedlock span:last-child:before { content: 'w'; }
.sws.after.closedlock span:last-child:before { content: 'x'; }
.sws.after.protrait span:last-child:before { content: 'a'; }
.sws.after.album span:last-child:before { content: 'b'; }
.sws.after.center span:last-child:before { content: '`'; }
.sws.after.zoomin span:last-child:before { content: '+'; }
.sws.after.zoomout span:last-child:before { content: '-'; }
.sws.after.up span:last-child:before { content: ':'; }
.sws.after.down span:last-child:before { content: ';'; }
.sws.after.close span:last-child:before { content: '\''; }
.sws.after.scale span:last-child:before { content: '&'; }
.sws.after.back span:last-child:before { content: '<'; }
.sws.after.forward span:last-child:before { content: 'j'; }
.sws.after.rotate span:last-child:before { content: '*'; }
.sws.after.twitter span:last-child:before { content: 't'; }
.sws.after.facebook span:last-child:before { content: 'f'; }
.sws.after.vkontakte span:last-child:before { content: 'v'; }
.sws.after.linkedin span:last-child:before { content: 'l'; }
.sws.after.googleplus span:last-child:before { content: 'g'; }
.sws.after.skype span:last-child:before { content: 's'; }
.sws.after.rss span:last-child:before { content: 'B'; }
.sws.after.vimeo span:last-child:before { content: 'm'; }
.sws.after.youtube span:last-child:before { content: 'y'; }
.sws.after.tumblr span:last-child:before { content: 'k'; }
.sws.after.lettery span:last-child:before { content: 'z'; }
.sws.after.odnoklassniki span:last-child:before { content: 'Q'; }
.sws.after.favorite span:last-child:before { content: 'R'; }
.sws.after.tag span:last-child:before { content: ','; }
.sws.after.comment span:last-child:before { content: 'c'; }
.sws.after.chat span:last-child:before { content: 'd'; }
.sws.after.openedchat span:last-child:before { content: 'e'; }
.sws.after.rating span:last-child:before { content: 'u'; }
.sws.after.mappin span:last-child:before { content: '?'; }
.sws.after.like span:last-child:before { content: 'N'; }
.sws.after.unlike span:last-child:before { content: 'O'; }
.sws.after.search span:last-child:before { content: 'L'; }
.sws.after.reblog span:last-child:before { content: 'J'; }
.sws.after.newwindow span:last-child:before { content: 'D'; }
.sws.after.clock span:last-child:before { content: 'P'; }
.sws.after.link span:last-child:before { content: 'K'; }
.sws.after.mail span:last-child:before { content: '@'; }
.sws.after.sortdown span:last-child:before { content: '{'; }
.sws.after.sortup span:last-child:before { content: '}'; }
.sws.after.unfold span:last-child:before { content: '['; }
.sws.after.fold span:last-child:before { content: ']'; }
.sws.after.icon span:last-child:before { content: '¹'; }
.sws.after.listicons span:last-child:before { content: '³'; }
.sws.after.reply span:last-child:before { content: 'h'; }
.sws.after.replyall span:last-child:before { content: 'i'; }
.sws.after.fullsceen span:last-child:before { content: '%'; }
.sws.after.done span:last-child:before { content: '.'; }
.sws.after.approved span:last-child:before { content: '/'; }