<section class="moc content mimg">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-8858711354167822";
    /* Slynett Labs - 300x250 illustrées */
    google_ad_slot = "8458424300";
    google_ad_width = 300;
    google_ad_height = 250;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-8858711354167822";
    /* Slynett Labs - 300x250 illustrées */
    google_ad_slot = "8458424300";
    google_ad_width = 300;
    google_ad_height = 250;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</section>