<ul class="networks">
    <li class="linkedin">
        <a href="{{ networks.linkedin }}" title="{{ 'core.header.follow.msg1' | trans({'%name%': project.name}) }} LinkedIn" onclick="var w = window.open(this.href); w.focus(); return false;">
            <span></span>
            LinkedIn
        </a>
    </li>
    <li class="twitter">
        <a href="{{ networks.twitter.url }}" title="{{ 'core.header.follow.msg1' | trans({'%name%': project.name}) }} Twitter" onclick="var w = window.open(this.href); w.focus(); return false;">
            <span></span>
            Twitter
        </a>
    </li>
</ul>