{% from "SlyContentBundle::macro.socialShare.html.twig" import shareButtons %}

<aside>
    <h3>{{ 'sidebar.item.share.title' | trans({}, 'blog') }}</h3>
    
    {{ shareButtons(url('blog_show', {'slug': item.slug}), item, 'default') }}
</aside>

<aside>
    <h3>{{ 'sidebar.item.others.title' | trans({}, 'blog') }}</h3>

    {% render 'SlyContentBundle:Component:lastItems' with {'type': 'blog', 'categories': item.categories, 'withoutItem': item, 'withPicture': true} %}
</aside>