<aside>
    <p>
        {{ 'sidebar.follow.msg1' | trans({}, 'blog') }}
    </p>

    {% include 'SlyCoreBundle:Block:socialNetworks.html.twig' %}
</aside>

<aside>
    <h3>{{ 'sidebar.about.title' | trans({}, 'blog') }}</h3>
    
    <p>
        {{ 'sidebar.about.msg1' | trans({}, 'blog') }}
    </p>
    
    <blockquote>
        {{ 'sidebar.about.msg2' | trans({}, 'blog') }}
    </blockquote>
</aside>

<aside>
    <p class="amc c1206001">
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-8858711354167822";
    
        google_ad_slot = "8522590177";
        google_ad_width = 160;
        google_ad_height = 600;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </p>
</aside>

<aside>
    <h3>A bookmarker d'urgence !</h3>
    
    <ul class="list">
        <li><a href="#" title="Symfony">Symfony</a></li>
        <li><a href="#" title="Symfony2Bundles">Symfony2Bundles</a></li>
        <li><a href="#" title="">Lien</a></li>
        <li><a href="#" title="">Lien</a></li>
        <li><a href="#" title="">Lien</a></li>
        <li><a href="#" title="">Lien</a></li>
    </ul>
</aside>