<h4>Catégories</h4>
    
{% render 'SlyContentBundle:Content:categories' with {'type': 'blog'} %}

<h4>Lorem Ipsum</h4>

<p>
    <a href="{{ path('blog_feed', {'_format': 'xml'}) }}" onclick="var w=window.open(this.href); w.focus(); return false;">
        {{ 'sidebars.feed' | trans }}
    </a>
</p>

<h4>Lorem Ipsum</h4>

<p>---</p>

<h4>Lorem Ipsum</h4>

<p>---</p>