<section>
    <h3>{{ 'contact.sidebar.email.title' | trans({}, 'page') }}</h3>
    
    <div class="content">
        <p>
            {{
                'contact.sidebar.email.message'
                    | trans({}, 'page')
                    | replace({
                        '%email%': project.email | textEncode, '%shortEmail%': project.shortemail | textEncode
                    })
                    | raw
            }}
        </p>
    </div>
</section>

<section>
    <h3>{{ 'contact.sidebar.networks.title' | trans({}, 'page') }}</h3>
    
    <div class="content">
        {% include 'SlyCoreBundle:Block:socialNetworks.html.twig' %}
    </div>
</section>