<p>
    <img src="{{ '/uploads/author-cedric-dugat.jpg' | apply_filter('medium') }}" alt="{{ 'presentation.title' | trans({}, 'author') }}" class="medium author" />
</p>

{% include 'SlyCoreBundle:Block:socialProNetworks.html.twig' %}