{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ 'credits.seo.title' | trans({}, 'page') }}{% endblock title %}
{% block description %}{{ 'credits.seo.description' | trans({}, 'page') }}{% endblock description %}

{% block content %}
    <h3>{{ 'credits.title' | trans({}, 'page') }}</h3>
    
    <p class="empty">{{ 'core.soon' | trans }}</p>
{% endblock content %}