{% extends "SlyCoreBundle:Layout:layout.facebookApp.html.twig" %}

{% block content %}
    <div style="text-align: center">
        <img src="{{ asset('bundles/slycore/images/fb-app.jpg') }}" alt="{{ project.name }}" />
    </div>
{% endblock content %}