{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block content %}
    <h2>{{ 'core.homepage.title' | trans }}</h2>
    
    <p>{{ 'core.homepage.introduction' | trans }}</p>
{% endblock content %}