{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block content %}
    <div class="grid_8 alpha">
        <aside class="slider">
            {% render 'SlyContentBundle:Component:lastItems' with {'type': 'blog', 'slider': true} %}
        </aside>
    </div>
    
    <div class="grid_8 omega">
        <aside class="slider">
            {% render 'SlyContentBundle:Component:lastItems' with {'type': 'blog', 'slider': true} %}
        </aside>
        
        <aside>
            <h3>{{ 'core.activity.title' | trans }}</h3>
        
            {% render 'SlyCoreBundle:Component:lastActivity' %}
        </aside>
    </div>
{% endblock content %}