{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block content %}
    <p>{{ 'homepage.introduction' | trans({}, 'page') }}</p>
    
    <div class="grid_8 alpha">
        &nbsp;
    </div>
    
    <div class="grid_8 omega">
        <aside>
            <h3>{{ 'core.activity.title' | trans }}</h3>
        
            {% render 'SlyCoreBundle:Component:lastActivity' %}
        </aside>
    </div>
{% endblock content %}