{% extends "SlyCoreBundle:Layout:layout.html.twig" %}

{% block title %}{{ 'homepage.seo.title' | trans({'%name%': project.name}, 'page') }}{% endblock title %}
{% block description %}{{ 'homepage.seo.description' | trans({'%name%': project.name}, 'page') }}{% endblock description %}

{% block content %}
    <h2 role="contentinfo">--- Homepage ---</h2>
{% endblock content %}